*  DSC 530 Data Exploration and Analysis 
*  Week 3 & 4 Coding Assignment
*  Due: 06/10/2025 07:00 CET
*  Dong Woon Kim

# Week 3 & 4 Coding Assignment Checklist:
## From Chapter 1 of Hands-On Data Analysis with Pandas: (DONE)
- [x] Exercise 4
- [x] Exercise 5
- [x] Exercise 6
- [x] Exercise 7
- [x] Exercise 8

## From Chapter 2 of Hands-On Data Analysis with Pandas: (DONE)
- [x] Exercise 1
- [x] Exercise 2
- [x] Exercise 3
- [x] Exercise 4
- [x] Exercise 5
- [x] Exercise 6

# Chapter 1

## Chapter 1, Exercise 4

Run the code in the first cell of the exercises.ipynb notebook. It will give you a list of 100 values to work with for the rest of the exercises in this chapter. Be sure to treat these values as a sample of the population.

In [4]:
import random

random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]
print(salaries)
# Currently, this code generated a list of random values as salaries for this exercise.

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]

## Chapter 1, Exercise 5

Using the data from exercise 4, calculate the following statistics without importing anything from the [statistics module](https://docs.python.org/3/library/statistics.html) in the Python standard library, and then confirm your results match up to those that are obtained when using the statistics module (where possible):

Tip from instructor: You can use [Pandas](https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html) or [Numpy](https://numpy.org/doc/stable/reference/routines.statistics.html) for the initial calculation and then check against other Python library/package such as [statistics module](https://docs.python.org/3/library/statistics.html), or [SciPy Statistics](https://docs.scipy.org/doc/scipy/reference/stats.html). Part a of Exercise 5 is completed to illustrate the process for you, you can decide how to go about the other problems.

Exercise 5(a) Mean - with exmaples

In [20]:
# Run this code to make alias to shorted the typed name
# You can do this as the 1st thing in any notebook or later, but you only need to do this once
import numpy as np
import pandas as pd

In [21]:
# Using numpy.mean
np.mean(salaries)

np.float64(585690.0)

In [22]:
# Using statistics module
import statistics # no need to re-run this after import
# You have to import this standard library before using its mean function
statistics.mean(salaries)

585690.0

In [23]:
# Using Pandas
# If you choose to use Pandas functions, you have to convert the list to a Series, otherwise it will gives an error
salaries_series = pd.Series(salaries)
# For Pandas function, when you placed a dot after a variable or other functions, it is referred as a "method chaining" appraoch.
salaries_series.mean()

np.float64(585690.0)

In [24]:
# Using SciPy Statistics
from scipy import stats
stats.tmean(salaries)

np.float64(585690.0)

Exercise 5(b) Median

In [25]:
# Your 1st appraoch
import numpy as np
print(np.median(salaries))

import pandas as pd
salaries_series = pd.Series(salaries)
print(salaries_series.median())

589000.0
589000.0

In [28]:
# Using statistics module
import statistics
print(statistics.median(salaries))

import scipy.stats as stats
print(stats.scoreatpercentile(salaries,50))

589000.0
589000.0

Exercise 5(c) Mode

Hint from textbook: Check out the [Counter class](https://docs.python.org/3/library/collections.html#collections.Counter) in the collections module of the standard library

In [29]:
# Your 1st approach
from collections import Counter
c = Counter(salaries)
print(c.most_common(1))

[(477000.0, 3)]

In [30]:
# Using statistics module
print(statistics.mode(salaries))

477000.0

Exercise 5(d) **Sample** Variance

In [31]:
# Your 1st approach
print(np.var(salaries,ddof=1)) # for sample variance use degree of freedom = 1

70664054444.44444

In [32]:
# Using statistics module
print(statistics.variance(salaries))

70664054444.44444

Exercise 5(e) **Sample** Standard Deviation

In [33]:
# Your 1st approach
print(np.std(salaries,ddof=1)) # for sample standard deviation use degree of freedom = 1

265827.11382484

In [34]:
# Using statistics module
print(statistics.stdev(salaries))

265827.11382484

## Chapter 1, Exercise 6

Using the data from exercise 4, calculate the following statistics using the functions in the statistics module where appropriate:

Exercise 6(a) Range

In [43]:
# Hint:there is no function called "Range". However, what does it means to see a range of values?
# Your solution
min = np.min(salaries)
max = np.max(salaries)
range = max - min
print(range)

1000.0
995000.0

Exercise 6(b) Coefficient of Variation

In [36]:
# Hint: Coefficient of Variation (CV) is defined as the ratio of standard deviation to the mean in Hands-on Data Analysis with Pandas.
# Your solution
std = statistics.stdev(salaries)
mean = statistics.mean(salaries)
cv = std/mean
print(str(round(cv*100,2)) + '%')

45.39%

Exercise 6(c) Interquartile Range

In [37]:
# Hint: Interquartile range (IQR) is presented as the difference of the 75% and 25% quantile in Chapter 1 of Practical Statistics for Data Scientisits Textbook
# OR you can find the values in each quartile and then substract Quantile 3 with Quantile 1 as in Chapter 1 of Hands-on Data Analysis with Pandas
# Your solution
Q1 = stats.scoreatpercentile(salaries,25)
Q3 = stats.scoreatpercentile(salaries,75)
IQR = Q3 - Q1
print(IQR)

413250.0

Exercise 6(d) Quartile coefficient of dispersion

In [38]:
# Once you determined the 1st and 3rd quantile values from 6(c), you can use it for this calculation
# Refer to the Quartile coefficient of dispersion formula in Chapter 1 of Hands-on Data Analysis with Pandas
# Your solution
QCD = (Q3 - Q1)/(Q3 + Q1)
print(QCD)

0.338660110633067

## Chapter 1, Exercise 7

Scale the data created in exercise 4 using the following strategies:

Exercise 7(a) Min-max Scaling (Normalizing)

In [51]:
# Refer to the Scaling data section of your reading in Chapter 1 of Hands-on Data Analysis with Pandas
# You can calculate this value by following the formula in the textbook or see the example in the solution
# You can also test out the scikit-learn function "MinMaxScaler", which requires transforming the data in 2D array before applying the scaler. This is a common approach in machine learning.
# Your solution

# scaled.a = min-max
# scaled.b = z-scored

salaries_array = np.array(salaries)
min_max_scaled = (salaries_array - min)/range
print(min_max_scaled)

[0.84723618 0.76080402 0.42211055 0.25929648 0.51256281 0.40603015
 0.78693467 0.30351759 0.47839196 0.58492462 0.91155779 0.50653266
 0.28241206 0.75879397 0.6201005  0.25125628 0.91356784 0.98693467
 0.81306533 0.90552764 0.31055276 0.73266332 0.90251256 0.68643216
 0.47336683 0.10050251 0.43517588 0.61306533 0.91658291 0.97085427
 0.47839196 0.86834171 0.26030151 0.8080402  0.55075377 0.01306533
 0.72261307 0.4        0.8281407  0.67035176 0.         0.49547739
 0.87135678 0.24422111 0.32562814 0.87336683 0.19095477 0.56984925
 0.23919598 0.9718593  0.80603015 0.44924623 0.07939698 0.32060302
 0.50954774 0.93668342 0.10854271 0.55276382 0.70954774 0.54874372
 0.81708543 0.54170854 0.9678392  0.60502513 0.58994975 0.44623116
 0.59798995 0.38592965 0.57788945 0.29045226 0.18894472 0.18693467
 0.61507538 0.65929648 0.47839196 0.08944724 0.76080402 0.88040201
 0.92663317 0.84522613 0.90150754 0.92663317 0.54271357 0.3919598
 0.70753769 0.27638191 0.81507538 0.85226131 0.89849246 0.5919598
 0.95376884 0.58190955 0.45226131 0.66231156 1.         0.92060302
 0.7959799  0.08140704 0.61507538 0.48743719]

Exercise 7(b) Standardizing

In [53]:
# Refer to the Scaling data section of your reading in Chapter 1 of Hands-on Data Analysis with Pandas
# You can calculate this value by following the formula in the textbook or see the example in the solution
# You can also test out the z-score method in Scipy Stats (2D array is needed)
# Your solution

z_score = (salaries_array - mean)/std
print(z_score)

[ 0.97172179  0.64820325 -0.61953801 -1.22895665 -0.28097209 -0.6797275
  0.74601118 -1.06343554 -0.40887477 -0.01011936  1.21247978 -0.30354315
 -1.14243425  0.64067957  0.12154516 -1.2590514   1.22000347  1.49461804
  0.84381912  1.18990872 -1.03710263  0.54287164  1.17862319  0.36982683
 -0.42768399 -1.82332793 -0.57063404  0.09521226  1.231289    1.43442854
 -0.40887477  1.05072051 -1.22519481  0.8250099  -0.13802204 -2.15060831
  0.5052532  -0.70229856  0.90024677  0.30963734 -2.19951228 -0.34492343
  1.06200604 -1.28538431 -0.98067498  1.06952973 -1.48476201 -0.06654701
 -1.30419352  1.43819039  0.81748621 -0.51796823 -1.90232664 -0.9994842
 -0.29225762  1.30652587 -1.79323318 -0.13049835  0.45634923 -0.14554572
  0.85886649 -0.17187863  1.42314301  0.06511751  0.00868986 -0.52925376
  0.03878461 -0.75496437 -0.03645226 -1.1123395  -1.4922857  -1.49980938
  0.10273595  0.26825706 -0.40887477 -1.8647082   0.64820325  1.09586263
  1.26890743  0.96419811  1.17486134  1.26890743 -0.16811679 -0.73239331
  0.44882555 -1.16500531  0.8513428   0.99053101  1.16357581  0.01621355
  1.37047721 -0.02140489 -0.5066827   0.27954259  1.54352201  1.24633637
  0.77986778 -1.89480295  0.10273595 -0.37501818]

## Chapter 1, Exercise 8

Using the scaled data from exercise 7, calculate the following:

Note. There is some preparation work to create the normalized (scaled) vs. standardized dataset before calculating covariance.

In [88]:
# If you did not setup a scaled data or standardized data with z-score approach, you can use the following codes.
# Scaled data aka normalized data
from sklearn.preprocessing import MinMaxScaler
# Make an array of salaries
salaries_array = np.array(salaries)
# Reshape the data to 2D (one feature)
salaries_2d = salaries_array.reshape(-1, 1)
# Scaled the data
scaler = MinMaxScaler()
scaler.fit(salaries_2d)
# Optionally, transform the data. scaled_salaries in the scaled data for use in next step
scaled_salaries = scaler.transform(salaries_2d)
# Preview the first 10 values. Noticed the double [] that shows the 2D shape
scaled_salaries[:10]
# This will print the shape if you would like to check
# scaled_salaries.shape

array([[0.84723618],
       [0.76080402],
       [0.42211055],
       [0.25929648],
       [0.51256281],
       [0.40603015],
       [0.78693467],
       [0.30351759],
       [0.47839196],
       [0.58492462]])

In [89]:
# Standardized version of the salary data (z-score)
from scipy import stats
# Assign a new variable `standardized_salary` to store the standarized data
standardized_salary = stats.zscore(salaries_array)
# Preview the first 10 values. This is a 1 dimension object
standardized_salary[:10]
# This will print the shape if you would like to check
# standardized_salary.shape

array([ 0.97661715,  0.65146878, -0.62265912, -1.23514791, -0.28238758,
       -0.68315184,  0.74976945, -1.06879293, -0.41093461, -0.01017034])

Exercise 8(a) The covariance between the standardized and normalized data

In [63]:
# Covariance can be calculated with numpy
# When the (normalized) scaled_salaries varaible was created, it was created as a 2D array.
# We will have to 'flatten' it to match the shape of the standardized_salary before calculation.
#scaled_salaries = np.array(scaled_salaries).flatten()

# Now calculate the covariance
#cov_calculated = np.cov(scaled_salaries, standardized_salary)
#print(cov_calculated)

min_max_scaled = np.array(min_max_scaled).flatten()
z_score = np.array(z_score).flatten()
# cov = np.cov(min_max_scaled, z_score, ddof =2)
cov = statistics.covariance(min_max_scaled,z_score)
print(cov) # Re-do to get 0.2685?

0.267162928467176

Note: How to interpret this output? The covariance function produce a 2X2 covariance matrix, the off-diagonal elements present the covariance of the 2 sets of values. Therefore 0.2685 is the output for intrepretation. Since the covariance estimate is positive, it indicates a positive relationship (moving in the same direction), and we don't know how "strong" this relationship and therefore correlation will help us understand this better.

In [65]:
# Example 2 for covariance calculation
# Covariance can be calculated with statistics module
#statistics.covariance(scaled_salaries, standardized_salary)
cov = statistics.covariance(min_max_scaled, z_score)
print(cov) 
# Note to Professor: 
# I'm not sure why I'm getting 0.2672 and not 0.2685 like you did. 
# Can you please take a look if I did something incorrectly?

0.267162928467176

Exercise 8(b) The Pearson correlation coefficient between the standardized and normalized data (this is actually 1, but due to rounding along the way, the result will be slightly less)

In [66]:
# Correlation can be calculated with statistics module
corr = statistics.correlation(min_max_scaled,z_score)
print(corr)
# The result is 1 because we are checking relationship of the same data in different format.

1.0000000000000004

Note. Getting a correlation of 1 is often very rare, but in this case, we are basically using the same raw data and simply normalized it (force values to 0,1 range) or standardized it (force the data to centered around zero and then deviate from zero) to put it on a common scale. It will not change the strength or direction of the relationship between 2 variables.

# Chapter 2

In [93]:
# The default code to run if you setup your book_env correctly to import the dataset
# df = pd.read_csv('../../ch_02/data/parsed.csv')

# If you encountered issues due to directory setup, you can provide the full file path also
# df = pd.read_csv('cdrive../../ch_02/data/parsed.csv')

## Chapter 2, Exercise 1

Find the 95th percentile of earthquake magnitude in Japan using the mb magnitude type.

In [174]:
import pandas as pd
df = pd.read_csv('data/parsed.csv')
df.head()
earthquake = df[df['type'] == 'earthquake' ]
mb = earthquake.loc[earthquake['parsed_place'] == 'Japan','mag']
print(round(stats.scoreatpercentile(mb,95),2))

5.12

## Chapter 2, Exercise 2

Find the percentage of earthquakes in Indonesia that were coupled with tsunamis.

In [130]:
import pandas as pd
df = pd.read_csv('data/parsed.csv')
df.head()
earthquake = df[df['type'] == 'earthquake' ]
indonesia = earthquake.loc[earthquake['parsed_place'] == 'Indonesia']
# a = earthquakes in Indonesia with tsunami
# b = earthquakes in Indonesia without tsunami
a = len(indonesia[indonesia['tsunami']==1])
b = len(indonesia[indonesia['tsunami']==0])
print(str(round((a/(a+b))*100,2)) + '%')

23.13%

## Chapter 2, Exercise 3

Calculate summary statistics for earthquakes in Nevada.

In [133]:
import pandas as pd
df = pd.read_csv('data/parsed.csv')
df.head()
earthquake = df[df['type'] == 'earthquake' ]
nevada = earthquake.loc[earthquake['parsed_place'] == 'Nevada']
nevada.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,14.000000,647.000000,14.000000,647.000000,647.000000,1.00,647.000000,647.000000,647.000000,6.470000e+02,647.0,647.0,6.470000e+02
mean,2.421429,0.163155,2.500000,154.436615,0.437311,2.84,12.704791,0.140627,9.146832,1.538318e+12,0.0,-480.0,1.538409e+12
std,0.514675,0.161793,4.783787,69.474945,0.653397,NaN,10.052695,0.056765,17.939055,5.954980e+08,0.0,0.0,5.991682e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537323e+12
25%,2.000000,0.053000,1.000000,97.295000,-0.100000,2.84,6.000000,0.104400,0.000000,1.537859e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.109000,1.000000,150.040000,0.300000,2.84,9.000000,0.142900,1.000000,1.538286e+12,0.0,-480.0,1.538428e+12
75%,3.000000,0.223000,1.000000,200.515000,0.800000,2.84,16.000000,0.181050,10.000000,1.538824e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.340000,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

## Chapter 2, Exercise 4

Add a column indicating whether the earthquake happened in a country or US state that is on the Ring of Fire. Use Alaska, Antarctica (look for Antarctic), Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (be careful not to select New Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga, and Washington.

In [157]:
list = ['Alaska','Pacific-Antarctic Ridge','Western Indian-Antarctic Ridge','Bolivia','California','Canada','Chile','CostaRica','Ecuador','Fiji','Guatemala','Indonesia','Japan','Kermadec Islands','Mexico','New Zealand','Peru','Philippines','Russia','Taiwan','Tonga','Washington']
df = pd.read_csv('data/parsed.csv')
df['ring_of_fire'] = df.parsed_place.isin(list)
df.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,time,title,tsunami,type,types,tz,updated,url,parsed_place,ring_of_fire
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California,True
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California,True
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...,California,True
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...,California,True
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...,California,True

## Chapter 2, Exercise 5

Calculate the number of earthquakes in the Ring of Fire locations and the number outside of them.

In [167]:
df.head()
df = df[df['type'] == 'earthquake']
print(len(df[df['ring_of_fire'] == True])) # earthquakes inside of Ring of Fire
print(len(df[df['ring_of_fire'] == False])) # earthquakes outside of Ring of Fire

7003
2078

## Chapter 2, Exercise 6

Find the tsunami count along the Ring of Fire.

In [173]:
df.head()
df = pd.read_csv('data/parsed.csv')
df = df[df['type'] == 'earthquake']
df['ring_of_fire'] = df.parsed_place.isin(list)
print(len(df[df['tsunami']==1]))

61